html, body, .graph {
  height: 100%;
  width: 100%;
}

.graph {
  display: block;
}

.graph > svg {
  height: 100%;
  width: 100%;
}

.graph > svg > .links > line {
  stroke: #777;
  stroke-width: 1px;
}

.half-width {
  display: inline-block;
  width: 49%;
  height: 100%;
}
